include header.pug

block content
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-header">
                        <h2 class="panel-title">Add New Password Category</h2>
                    </div>
                    <div class="card-body">
                        <form  action="/AddNewCategory"id="EmployeeForm"class="form-horizantal"method="post"role="form">
                            if errors!=''
                                <p style ="text-align:center;margin-top:-5px;color:red;">#{errors.passwordCategory.msg}</p>
                            if success!=''
                                <p style ="text-align:center;margin-top:-5px;color:green;">#{success}</p>
                            <div class="form-group">
                                <label for="username"class="col-md-3 control-label"style="display:inline;font-size:20px"> Category Name</label>
                                <div class="col-md-9"style="margin-top:13px;">
                                    <input style="padding:10px 20px;font-size:15px"type="text" class="form-control" id="username" name="passwordCategory"placeholder="Enter Your Passsord Category Name">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-9">
                                    <input type="submit" class="btn btn-primary" value="Add Category" name="submit"placeholder="Enter Your Password">
                                </div>
                            </div>
                            <p style="margin-left:10px"><a href="/passwordCategory">View All Catgeory Lists</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


include footer.pug

