include header.pug


    <div class="container">
        <h1>Password Catgeory List</h1>
        <br>
        <div id="table-box">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Password Category Name</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    if records.length>0
                      each user in records
                        <tr>
                            <td>#{user.password_category}</td>
                            <td>
                                <a class="btn btn-primary btn-xs" href="/passwordCategory/edit/#{user._id}">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a class="btn btn-danger btn-xs" href="/passwordCategory/delete/#{user._id}">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                </tbody>
            </table>
        </div>
        <p style="margin-left:10px"><a href="/joinResult">View Combined Result (Password Details With Password Category)</a></p>
    </div>

include footer.pug
