include header.pug
block content
    <div class="container">
        <h1>Password Details</h1>
        <br>
        <div id="table-box">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Password Category Name</th>
                        <th>Password Details</th>
                    </tr>
                </thead>

                <tbody>
                    if records
                        <tr>
                            <td>#{records.password_category}</td>
                            <td>#{records.password_details}</td>
                        </tr>
                    else 
                        <tr> 
                            <td>(colspan="2") No Record Found</td>
                        </tr>
                </tbody>
            </table>
            <a class="btn btn-primary btn-sm" href="/ViewAllPassword">Go Back</a>
        </div>
    </div>

include footer.pug
